body {
    background-color: rgb(5, 18, 70);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1 {
    margin: 0;
    font-weight: 100;
}

header {
    border-bottom: 2px solid rgb(223, 53, 214);
    padding: 10px;
    flex: 0 0 100%; 
}

.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

.menu a{
    color: grey;
    text-decoration: none;
    border-bottom: 1px solid rgb(223, 53, 214);
}

.menu li {
    display: inline-block;
    font-size: 20px;
    /* width: 30px; */
    padding: 20px 140px;

}
/* flex box or inline displays */
aside {
    background: grey;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* padding: 20px; */
    /* flex: 0 0 25% 0; */
    float: left;
    padding: 0px 100px 900px 25px;
}

.online {
    list-style: none;
}

li.p1::before {
    content: "\2022";
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -3em;
    padding-bottom: 10px;
}

li.p2::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -3em;
    padding-bottom: 10px;
}

li.p3::before {
    content: "\2022";
    color: rgb(0, 256, 0);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -3em;
    /* padding-bottom: 10px; */
}

.line {
    width: 217px;
    /* height: 0px; */
    margin-left: -1em;
    border-bottom: 2px solid black;
    position: absolute;
    /* padding-top: 10px; */
}

.last_played {
    /* margin-left: -1em; */
    padding-top: 10px;
}

.last {
    list-style: none;
    margin-left: -3em;
}

li.g1 {
    padding-bottom: 20px;
}

.welcome {
    /* float: left; */
    /* display: inline-block; */
    background: rgb(48, 50, 53);
    padding: 0px 0px 0px 300px;
}
.welcome h1 {
    padding: 10px 0px 0px 0px;
}

.streams {
    margin: 0px;
    padding: 0px;
}

.streams li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 150px 20px 0px;
}

.titles {
    list-style-type: none;
    display: inline-block;
}

.titles li{
    display: inline-block;
    padding: 0px 181px 0px 0px;
}

.recommend {
    background: rgb(30, 30, 30);
    padding: 0px 0px 0px 0px;
}

.recommend h1 {
    padding: 20px 0px 0px 310px;
}

.recommend ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: inline-block;
}

.recommend li {
    display: inline-block;
    padding: 20px 150px 20px 60px;
}

.news {
    background: rgb(48, 50, 53);
    padding: 0px 0px 0px 0px;
    /* display: flex; */
    /* flex-direction: column; */
}

.news h1 {
    padding: 20px 0px 0px 310px;
}

.news_1 {
    display: flex;
    padding: 20px 0 20px 50px;
}

.news ul {
    width: 900px;
    border: 3px solid black;
}

.news li {
    list-style-type: none;
    /* border-bottom: black; */
}

/* Settings */

.username {
    display: flex;
    /* flex-wrap: wrap; */
    /* padding: 0px 200px 0px 0px; */
    background: rgb(48, 50, 53);
    /* padding: 0px 0px 0px 300px; */
}

.username form {
    display: flex;
    flex-direction: column;
    padding: 4% 0 0 0;
}

.username div {
    display: flex;
    flex-direction: column;
    padding: 1% 0 0 3%;
}

.checks {
    background: rgb(30, 30, 30);
    display: flex;
    /* justify-content: center; */
}

.platforms {
    padding: 5% 0% 2% 4%;
}

.launchers {
    padding: 5% 0% 2% 4%;
}

.gameSearch {
    padding: 2% 0% 2% 4%;
}

.gameSearch ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.gameSearch li a {
    border: 1px solid #dddddd;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block;
}

.gameSearch li a:hover:not(.header) {
    background-color: #eee;
}

.knowYou {
    background: rgb(48, 50, 53);
}

.knowYou h1 {
    padding: 20px 0px 0px 320px;
}

.knowYou ul {
    padding: 0 0 30px 320px;
}

/* Discover */

.players {
    background: rgb(48, 50, 53);
    display: flex;
    /* flex-direction: column; */
}

.players h1 {
    padding: 20px 0px 0px 50px;
}

.player_flex {
    display: flex;
    padding-top: 20px;
}

.player_1 {
    display: flex;
    flex-direction: column;
    margin-left: -50px;
    padding: 80px 0 20px 0;
}

.player_2 {
    display: flex;
    flex-direction: column;
    margin-left: -100px;
    padding: 80px 0 20px 300px;
}

.player_3 {
    display: flex;
    flex-direction: column;
    margin-left: -100px;
    padding: 80px 0 20px 300px;
}

.highlights {
    background: rgb(30, 30, 30);
    display: flex;
}

.highlights h1 {
    padding: 20px 0px 0px 50px;
}

.stream_1 {
    display: flex;
    flex-direction: column;
    margin-left: -200px;
    padding: 80px 0 20px 0;
}

.stream_2 {
    display: flex;
    flex-direction: column;
    padding: 80px 0 20px 30px;
}

.stream_3 {
    display: flex;
    flex-direction: column;
    padding: 80px 0 20px 30px;
}

.taste {
    background: rgb(48, 50, 53);
    display: flex;
}

.taste h1 {
    padding: 20px 0px 0px 50px;
}

.taste_1 {
    display: flex;
    flex-direction: column;
    margin-left: -280px;
    padding: 80px 0 20px 0;
}

.taste_2 {
    display: flex;
    flex-direction: column;
    /* margin-left: -280px; */
    padding: 80px 0 20px 120px;
}

.taste_3 {
    display: flex;
    flex-direction: column;
    padding: 80px 0 20px 140px;
}

/* Browse */

.lib {
    padding-top: 5px;
}

.friends {
    background: rgb(48, 50, 53);
    display: flex;
}

.friends h1 {
    padding: 20px 0px 0px 50px;
}

.friend_flex {
    display: flex;
    padding-top: 20px;
}

.friend_1 {
    margin: 90px 0 0 -120px;
}

.friend_2 {
    margin: 90px 0 0 150px;
}

.friend_3 {
    margin: 90px 0 0 120px;
}

.recently {
    display: flex;
    background: rgb(30, 30, 30);
}

.recently h1 {
    padding: 20px 0px 0px 50px;
}

.game_1 {
    margin: 75px 0 0 -100px;
    /* display: flex; */
    /* flex-direction: row; */
}

.game_2 {
    margin: 68px 0 0 175px;
}

.game_3 {
    margin: 68px 0 0 175px;
}

.happening {
    background: rgb(48, 50, 53);
    display: flex;
}

.happening h1 {
    padding: 20px 0px 0px 50px;
}

.now_stack {
    display: flex;
    flex-direction: column;

}

.now_1 {
    display: flex;
    /* flex-direction: column; */
    /* display: inline-block; */
    margin: 70px 0 0 -200px;
}


.now_2 {
    display: flex;
    margin: 70px 0 0 100px;
}

.now_3 {
    display: flex;
    margin: 70px 0 0 100px;
}

footer {
    background-color: black;
    padding: 12px;
    display: flex;
    flex: 0 0 100%;
}

@media all and (max-width: 1024px) {
    aside {
        float: none;
        padding: 20px;
    }

    article {
        padding: 20px;
    }

    .line {
        /* 1vw = 1% of viewport width
        1vh = 1% of viewport height */
        width: 95vw;
    }
}


@media all and (max-width: 839px) {
    aside {
        float: none;
        padding: 20px;
    }

    .line {
        /* 1vw = 1% of viewport width
        1vh = 1% of viewport height */
        width: 95vw;
    }
}

@media all and (max-width: 480px) {
    aside {
        float: none;
        padding: 20px;
    }

    .line {
        width: 87vw;
    }
}